
.header{
    background-color: red;
    float: left;
    height: 40px;
    width: 100%;
}

.sidebr{
    float: left;
    width: 25%;
    height: 400px;
    background-color: khaki;
}   
.content{
    float: left;
    width: 75%;
    height: 400px;
    background-color: lightblue;
}

.footer{
    float: left;
    width: 100%;
    height: 50px;
    background-color: lightslategray;
}

.box{
    width: 100px;
    height: 100px;
    background-color: gray;
    margin: 5px;
    float: left;

}

.box{

}